<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
<title th:text="${'RatingItems für:' + competition.title}">competition.title</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" th:text="${'RatingItems für: ' + competition.title + ' (' + #lists.size(competition.ratingItems) +')'}">${competition.title}</span>
		</nav>
		<div class="row">
			<div class="col-sm">
				<table class="table">
					<thead class="thead-dark">
					  	<tr>
					      <th scope="col">BarCode</th>
					      <th scope="col">Public-ID</th>
					      <th scope="col">Title</th>
					      <th scope="col">Description</th>
					    </tr>
					</thead>
					<tbody>
					    <tr th:each="item : ${competition.ratingItems}">
							<th scope="row">
								<img th:src="${'/web/utils/qrcode/' + item.publicId }" width="100" height="100">
							</th>
							<td th:text="${item.publicId}">${item.publicId }</td>
							<td th:text="${item.title}">${item.title }</td>
							<td th:text="${item.description}">${item.description }</td>
						</tr>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>