<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<title th:text="${'Rating Generator: ' + competition.title}">competition.title</title>
	
	<div th:replace="fragments/header :: header-meta" />
	<div th:replace="fragments/header :: header-css" />
</head>
<body>

 	<div th:replace="fragments/header :: nav" />
 
	<main role="main" class="container">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" th:text="${'Rating Generator: ' + competition.title + ' (' + #lists.size(ratings) +')'}">${competition.title}</span>
		</nav>
		<div class="row">
			<div class="col-sm">
				<table class="table">
					<thead class="thead-dark">
					  	<tr>
					      <th scope="col">Rating Code</th>
					      <th scope="col">Rating Item</th>
					      <th scope="col">Status</th>
					    </tr>
					</thead>
					<tbody>
					    <tr th:each="item : ${ratings}">
							<th scope="row">
								<img th:src="${'/web/utils/qrcode/' + item.ratingCodeDTO.publicId }" width="100" height="100">
							</th>
							<th scope="row">
								<img th:src="${'/web/utils/qrcode/' + item.ratingItemDTO.publicId }" width="100" height="100">
							</th>
							<td th:text="${item.responseStatus}">Status</td>
						</tr>
					  </tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>