<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
<title th:text="${'Rating Generator: ' + competition.title}">competition.title</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" th:text="${'Rating Generator: ' + competition.title + ' (' + #lists.size(ratings) +')'}">${competition.title}</span>
		</nav>
		<div class="row">
			<div class="col-sm">
				<table class="table">
					<thead class="thead-dark">
					  	<tr>
					      <th scope="col">Rating Code</th>
					      <th scope="col">Rating Item</th>
					      <th scope="col">Status</th>
					      <th scope="col">Ratings Left</th>
					    </tr>
					</thead>
					<tbody>
					    <tr th:each="item : ${ratings}">
							<th scope="row">
								<img th:src="${'/web/utils/qrcode/' + item.ratingCodeDTO.publicId }" width="100" height="100">
							</th>
							<th scope="row">
								<img th:src="${'/web/utils/qrcode/' + item.ratingItemDTO.publicId }" width="100" height="100">
							</th>
							<td th:text="${item.responseStatus}">Status</td>
							<td th:text="${item.ratingsLeft}">Ratings Left</td>
						</tr>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>