<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Web Dashboard - Heimbraoconvention </title>
    <div th:replace="fragments/header :: header-meta" />
	<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: nav"/>
	<main role="main" class="container">
	    <div class="row" style="margin-top:20px">
	        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	            <h1>Web Dashboard</h1>
	        </div>
	    </div>
	</main>
</body>
</html>
