<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<title th:text="${competition.title}">competition.title</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" th:text="${competition.title}">${competition.title}</span>
		</nav>

		<div class="row">
			<div class="col-sm">
				<h4 class="text-center mt-3">High Scores</h4>
			</div>
			<div class="col-sm"></div>
		</div>
		
		<div class="row">
			<div class="col-sm">
				<canvas id="mycanvas" height="300"></canvas>
			</div>
			<div class="col-sm"></div>
		</div>
		 
	</div>

	<script type="text/javascript">
	
		var bgColorPool = [
			"rgba(255, 99, 132, 0.2)",
			"rgba(255, 159, 64, 0.2)",
			"rgba(255, 205, 86, 0.2)",
			"rgba(75, 192, 192, 0.2)",
			"rgba(54, 162, 235, 0.2)",
			"rgba(153, 102, 255, 0.2)",
			"rgba(201, 203, 207, 0.2)",
			"rgba(255, 159, 64, 0.2)",
			"rgba(255, 205, 86, 0.2)",
			"rgba(75, 192, 192, 0.2)"
		]
	
		$(document).ready(function() {
			$.ajax({
				url : "http://localhost:8080/api/competitions/1/statistic",
				method : "GET",
				success : function(data) {
					var title = [];
					var score = [];
					var backgroundColor = [];

					for (var i in data.scores) {
						if (i == 10) {
							break;
						}
						title.push(data.scores[i].title);
						score.push(data.scores[i].score);
						backgroundColor.push(bgColorPool[i]);
					}

					var chartdata = {
						labels : title,
						datasets : [ {
							label : 'Top Scores',
							data : score,
							backgroundColor: backgroundColor
						}]
					};

					var ctx = $("#mycanvas");

					var barGraph = new Chart(ctx, {
						type : 'bar',
						position : 'top',
						data : chartdata,
						options : {
							legend : {
								display : false
							}
						}
					});
				},
				error : function(data) {
					console.log(data);
				}
			});
		});
	</script>
</body>
</html>